<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SnHI.server.mapper.EmployeeTrainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.SnHI.server.pojo.EmployeeTrain">
        <id column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="trainDate" property="trainDate" />
        <result column="trainContent" property="trainContent" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eid, trainDate, trainContent, remark
    </sql>

    <!--    获取所有员工培训记录-->
    <select id="getAllEmployeeTrain" resultType="com.SnHI.server.pojo.EmployeeTrain">
        select t_employee_train.*, t_employee.name as name
        from t_employee_train, t_employee
        where t_employee_train.eid = t_employee.id
    </select>

</mapper>
